<head th:fragment="head">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>NEUROELEVATE E.I.R.L</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/atlantis.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fonts.min.css}">
</head>